.main-content {
  width: 1168px;

  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }

  .popper-content {
    font-size: 14px;
    font-weight: normal;
  }

  .delete-button {
    position: absolute;
    right: -10px;
    width: 17px;
    padding: 0;
    top: 12px;
    cursor: pointer;
  }
  .form-error {
    border-color: red !important;
    box-shadow: none
  }
}
.cursor-pointer {
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
}
:root {
  --popper-theme-background-color: #333333;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 5px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
